In [43]:
import pandas as pd
import numpy as np

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('tested.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [5]:
data = df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Sex       418 non-null    object
 3   Age       332 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Fare      417 non-null    float64
 7   Embarked  418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [6]:
data.isnull().sum().sort_values(ascending=False)

Age         86
Fare         1
Survived     0
Pclass       0
Sex          0
SibSp        0
Parch        0
Embarked     0
dtype: int64

In [7]:
data['Sex'] = np.where(data['Sex']=='male',1,0)

In [8]:
data['Age'].mean()

30.272590361445783

In [9]:
data['Age'] = data['Age'].fillna(data['Age'].mean())

In [10]:
data['Fare'].mean()

35.627188489208635

In [11]:
data['Fare'] = data['Fare'].fillna(data['Fare'].mean())

In [12]:
data['Embarked'].value_counts()

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [13]:
data['Embarked'] = data['Embarked'].map({'S':1, 'C':2, 'Q':3})

In [14]:
data['Survived'].value_counts()

0    266
1    152
Name: Survived, dtype: int64

In [15]:
data

     Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0           0       3    1  34.50000      0      0    7.8292         3
1           1       3    0  47.00000      1      0    7.0000         1
2           0       2    1  62.00000      0      0    9.6875         3
3           0       3    1  27.00000      0      0    8.6625         1
4           1       3    0  22.00000      1      1   12.2875         1
..        ...     ...  ...       ...    ...    ...       ...       ...
413         0       3    1  30.27259      0      0    8.0500         1
414         1       1    0  39.00000      0      0  108.9000         2
415         0       3    1  38.50000      0      0    7.2500         1
416         0       3    1  30.27259      0      0    8.0500         1
417         0       3    1  30.27259      1      1   22.3583         2

[418 rows x 8 columns]

In [26]:
X = data.drop (columns='Survived', axis=1)
Y = data['Survived']

In [27]:
X

     Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         3    1  34.50000      0      0    7.8292         3
1         3    0  47.00000      1      0    7.0000         1
2         2    1  62.00000      0      0    9.6875         3
3         3    1  27.00000      0      0    8.6625         1
4         3    0  22.00000      1      1   12.2875         1
..      ...  ...       ...    ...    ...       ...       ...
413       3    1  30.27259      0      0    8.0500         1
414       1    0  39.00000      0      0  108.9000         2
415       3    1  38.50000      0      0    7.2500         1
416       3    1  30.27259      0      0    8.0500         1
417       3    1  30.27259      1      1   22.3583         2

[418 rows x 7 columns]

In [28]:
Y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [29]:
scaler = StandardScaler()

In [31]:
scaler.fit(X)

StandardScaler()

In [32]:
std = scaler.transform(X)

In [33]:
X = std
Y = data['Survived']

In [35]:
print(Y)

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [36]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, stratify=Y, random_state=2)

In [37]:
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [41]:
X_train_pred = model.predict(X_train)

In [44]:
training_data_accuracy = accuracy_score(X_train_pred, Y_train)

In [45]:
print('akurasi : ', training_data_accuracy)

akurasi :  1.0

In [48]:
X_test_pred = model.predict(X_test)

In [49]:
test_data_accuracy = accuracy_score(X_test_pred, Y_test)

In [50]:
print('akurasi : ', test_data_accuracy)

akurasi :  1.0

In [54]:
input_data = (3,	0,	47.00000,	1,	0,	7.0000,	1)
input_data_np = np.array(input_data)
input_data_reshape = input_data_np.reshape(1,-1)

std_data = scaler.transform(input_data_reshape)

prediksi = model.predict(std_data)
print(prediksi)

if(prediksi[0] == 1 ):
  print("penumpang meninggal")
else:
  print('penumpang selamat')

[1]
penumpang meninggal

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(